<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<link rel="stylesheet" href="css/profile.css" /> 

		<script src="js/system/jquery.min.js"> </script>
		<script src="js/system/bootstrap.min.js"> </script>
		<script src="js/system/angular.min.js"> </script>
		<script src="js/system/angular-animate.min.js"> </script>
		<script src="js/system/wow.min.js"> </script>
		<script src="js/system/firebase.js"> </script>
		<script src="js/system/angularfire.min.js"> </script>
		
		<script src="js/userProfile.js"> </script>
    </head>
	
	<!-- chỉnh sửa thông tin người dùng, tạm thời chỉ có sửa tên và đổi mật khẩu -->
    <body ng-app="Quiz" ng-controller="UserProfile" class="container-fluid">
	
		<div id="userTab" class="container-fluid wow fadeInDown">
			{{ loged.password.email }}
		</div>
		
		<div class="container-fluid wow fadeInDown">
			<p class="input-user"> Your name: </p>
			<input class="form-control" type="text" ng-model="name">
			<p class="input-user"> New password: </p>
			<input class="form-control" type="password" ng-model="newPassword">
			<p class="input-user"> Retype new password: </p>
			<input class="form-control" type="password" ng-model="newPasswordCompare">
			<p class="input-user" ng-show="newPassword"> Enter your current password: </p>
			<input class="form-control" type="password" ng-model="currentPassword" ng-show="newPassword">
			<p class="input-user"> Total score: {{ score }} </p>
			<p class="input-user"> Test taken: {{}} </p>
			<a href="index.html" class="pull-left btn btn-user"> Return </a>
			<button class="pull-right btn btn-user" ng-click="submit()" ng-show="loaded"> Submit changes </button>
			<button class="center-block btn btn-user" ng-click="clear()"> Clear </button>
		</div>

    </body>
</html>
